<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/about.css">

</head>
<body>
    <header>
        <!-- ProCareerDesk logo goes here -->
        <a href="/" class="logo">ProCareerDesk</a>
        <nav>
            <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
        </nav>
    </header>

    <section>
        <div class="card">
            <h1>About Us</h1>
                <img src="/images/group-three-modern-architects.jpg" alt="Image Description">

            <p>
               Welcome to ProCareerDesk, a revolutionary platform initiated by a group of university students with a vision for empowering fellow students in their journey towards career excellence.<br> We understand the challenges students face as they navigate the transition from academia to the professional world. <br> ProCareerDesk is here to bridge the gap and facilitate meaningful connections between students and experienced mentors or coaches.<br>

<h1>Our Mission</h1>
<p>At ProCareerDesk,<br> our mission is to provide a conducive environment for students to set and achieve their career goals. We believe in the power of mentorship and aim to create a space where students can connect with mentors who offer guidance, insights, and support on their career development journey.</p>
            </p>
        </div>
    </section>

    <footer>
        &copy; 2023 Funke Aderoju. All rights reserved.
    </footer>
</body>
</html>
