<!-- views/login.mustache -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ProCareerDesk</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <!-- ProCareerDesk logo goes here -->
        <a href="/" class="logo">ProCareerDesk</a>
        <nav>
            <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
        </nav>
    </header>

    <section>
        <form action="/login" method="post">
            <h2>Login</h2>

            {{#errorMessage}}
            <div class="error-message">
                {{errorMessage}}
            </div>
            {{/errorMessage}}
            <p> Admin details <br>
            Username:Debo256
            Password:Deboola256
            
            </p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
            
            <a href="/signup" class="signup-link">Don't have an account yet? Sign up</a>
        </form>
    </section>

    <footer>
        &copy; 2023 Funke Aderoju. All rights reserved.
    </footer>
</body>
</html>