<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Records</title>

    <!-- Include Font Awesome (replace the version number with the desired version) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/css/manageStudent.css">
</head>
<body>
<header>
        <h1>Admin Dashboard</h1>
        <a href="/admin_dashboard" class="logout-button">Go Back</a>
    </header>
    
    <a href="/addStudent" class="dashboard-button">Add Student</a>

    <!-- Table to display student records -->
    <!-- Table to display student records -->
    <h2>View Student Records</h2>

  <table border="1">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
        <th>Username</th>
        <th>Email</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      {{#students}}
       
        <tr>
          <td>{{firstName.firstName}}</td>
          <td>{{firstName.lastName}}</td>
          <td>{{firstName.department}}</td>
          <td>{{firstName.username}}</td>
          <td>{{firstName.email}}</td>
          

           <td>
          <!-- Edit icon -->
          <a href="/modifyStudent"><i class="fas fa-edit"></i></a>
          
          <!-- Delete icon (colored red) -->
          <a href="/deleteStudent/{{_id}}" style="color: red;"><i class="fas fa-trash-alt"></i></a>
        </td>
        </tr>
      {{/students}}
    </tbody>
  </table>

    <!-- Link to the external JavaScript file -->
    <script src="script.js"></script>

</body>
</html>
