<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rHyoN1iRsVXV4nDSeVzTs3kqqOp6m/7ma8DH+5tkS4EJwMScQD2KQ2RME2AUqDft" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-<correct-integrity-value>" crossorigin="anonymous">
    <!-- Add this line to include Font Awesome JavaScript library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" integrity="sha384-<correct-integrity-value>" crossorigin="anonymous"></script>
    <script src="Controllers/studentController.js"></script>

    <title>Add Opportunities</title>
    <link rel="stylesheet" href="/css/myOpp.css">
</head>

<body>
    <header>
        <h1>Student Dashboard</h1>
        <a href="/student_dashboard/{{userId}}" class="logout-button">Go Back</a>
    </header>

    <!-- Placeholder content for adding opportunities -->
    
<!-- myOpp.mustache -->

<section>
  <h2>My Opportunities</h2>
 

       {{#opportunities}}
  <div class="opportunity-card">
    <div class="card-header">
      <h2>{{category}}</h2>
    
      <a href="/{{userId}}/edit/{{_id}}" class="modify-button">Modify</a>


      <a href="/{{userId}}/deleteOpportunity/{{_id}}" class="delete-link" onclick="deleteOpportunity('{{_id}}')">
        <button class="delete-button">Delete</button>
      </a>
    </div>
    <ul>
      <li>
        <strong>Opportunity:</strong> {{opportunity}}<br>
        <strong>Mentor:</strong> {{mentor}}<br>
        <strong>Date:</strong> {{date}}<br>
        <strong>Time:</strong> {{time}}
      </li>
    </ul>
  </div>
{{/opportunities}}




</body>

</html>
