
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #011a2a;
            color: #fff;
            text-align: center;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
        }

        nav {
            background-color: #15202b;
            color: #fff;
            text-align: center;
            padding: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }

        form {
            max-width: 800px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
            margin: 20px auto; /* Center the form */
        }

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; /* Center forms vertically */
            min-height: 100vh;
        }

        h2 {
            color: #333;
            width: 100%;
            margin-bottom: 20px;
        }

        .form-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .form-column {
            flex-basis: calc(33.33% - 10px);
        }

        label {
            display: block;
            margin: 10px 0 5px;
            color: #333;
            text-align: left;
        }

        input {
            width: calc(100% - 10px);
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        input.error {
            border: 2px solid red;
        }

        button {
            width: 100%;
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        footer {
            background-color: #1f2b3b;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
       